@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  background-color: rgb(35, 37, 54);
  padding: 27px 0;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(255, 211, 175);
  z-index: 9999;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .menu-btn {
  display: none;
  color: #000;
  font-size: 30px;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
header ul li a {
  /* Text link */
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
header ul li a:hover {
  /* Text link */
  color: rgb(150, 132, 132);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
header ul li .clone {
  /* Text link */
  color: rgb(255, 211, 175);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  header {
    background-color: rgb(35, 37, 54);
    padding: 27px 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(255, 211, 175);
    padding: 27px 20px;
    position: relative;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header ul {
    display: none;
    gap: 32px;
  }
  header ul li a {
    /* Text link */
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  header ul li a:hover {
    /* Text link */
    color: rgb(150, 132, 132);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  header ul li .clone {
    /* Text link */
    color: rgb(255, 211, 175);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  header .show {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgb(35, 37, 54);
    width: 100%;
    right: 0;
    left: 0;
    top: 86px;
    padding: 20px 0;
  }
}
.btn {
  background: rgb(68, 76, 252);
  padding: 20px 32px;
  /* Text link */
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border: none;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  position: relative;
}
.btn:hover {
  background: rgb(32, 39, 161);
  color: rgb(255, 255, 255);
}
.btn .btn-shapka {
  position: absolute;
  left: 0;
  top: 0;
}

footer {
  position: relative;
}
footer .footer-shapka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 150px;
  right: 40px;
  /* Text link */
  color: rgb(35, 37, 54);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}
footer .footer .footer-top .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  width: 50%;
}
footer .footer .footer-top .footer-info h2 {
  /* H2 Heading */
  color: rgb(35, 37, 54);
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer .footer-top .footer-info span {
  /* H4 Heading */
  color: rgb(35, 37, 54);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer .footer-top .footer-info a {
  /* Paragraph Large */
  color: rgb(35, 37, 54);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer .footer-top .footer-info p {
  /* Paragraph Small */
  color: rgb(35, 37, 54);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer .footer-top .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 50px;
}
footer .footer .footer-top .footer-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
footer .footer .footer-top .footer-list li a {
  /* H6 Heading */
  color: rgb(35, 37, 54);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
footer .footer-bottom-line {
  background: rgb(255, 230, 210);
  padding: 30px 0;
}
footer .footer-bottom-line .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-bottom-line .footer-bottom .footer-bottom-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
footer .footer-bottom-line .footer-bottom .footer-bottom-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
footer .footer-bottom-line .footer-bottom .footer-bottom-social a {
  color: rgb(35, 37, 54);
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 768px) {
  footer {
    position: relative;
  }
  footer .footer-shapka {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 150px;
    right: 40px;
    /* Text link */
    color: rgb(35, 37, 54);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  footer .footer .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer .footer-top .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 10px;
    width: 50%;
  }
  footer .footer .footer-top .footer-info h2 {
    /* H2 Heading */
    color: rgb(35, 37, 54);
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
  }
  footer .footer .footer-top .footer-info span {
    /* H4 Heading */
    color: rgb(35, 37, 54);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
  }
  footer .footer .footer-top .footer-info a {
    /* Paragraph Large */
    color: rgb(35, 37, 54);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }
  footer .footer .footer-top .footer-info p {
    /* Paragraph Small */
    color: rgb(35, 37, 54);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  footer .footer .footer-top .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    gap: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer .footer-top .footer-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  footer .footer .footer-top .footer-list li a {
    /* H6 Heading */
    color: rgb(35, 37, 54);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }
  footer .footer-bottom-line {
    background: rgb(255, 230, 210);
    padding: 20px;
  }
  footer .footer-bottom-line .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-bottom-line .footer-bottom .footer-bottom-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-bottom-line .footer-bottom .footer-bottom-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  footer .footer-bottom-line .footer-bottom .footer-bottom-social a {
    color: rgb(35, 37, 54);
    width: 16px;
    height: 16px;
  }
}
.herro {
  background-color: rgb(35, 37, 54);
}
.herro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  padding: 100px 0;
}
.herro-wrapper-info {
  width: 50%;
}
.herro-wrapper-info h2 {
  /* H1 Heading */
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 56px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 0px;
  text-align: left;
}
.herro-wrapper-info p {
  /* Paragraph */
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 20px 0;
}
.herro-wrapper-image {
  position: relative;
}
.herro-wrapper-image .careful {
  position: absolute;
  right: -18px;
}
.herro-wrapper-image .vertical {
  position: absolute;
  left: -18px;
  bottom: 7px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  margin-top: 86px;
  min-height: 100vh;
}/*# sourceMappingURL=main.css.map */