.herro {
  background-color: rgb(35, 37, 54);

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 100px 0;

    &-info {
      width: 50%;
      h2 {
        /* H1 Heading */
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 56px;
        font-weight: 600;
        line-height: 68px;
        letter-spacing: 0px;
        text-align: left;
      }

      p {
        /* Paragraph */
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        margin: 20px 0;
      }
    }

    &-image {
      position: relative;
      .careful {
        position: absolute;
        right: -18px;
      }
      .vertical {
        position: absolute;
        left: -18px;
        bottom: 7px;
      }
    }
  }
}
