.btn {
  background: rgb(68, 76, 252);
  padding: 20px 32px;
  /* Text link */
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border: none;
  transition: 1s;
  cursor: pointer;
  position: relative;
  // z-index: -1000;
  &:hover {
    background: rgb(32, 39, 161);
    color: rgb(255, 255, 255);
  }

  .btn-shapka {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    background: rgb(68, 76, 252);
    padding: 20px 32px;
    /* Text link */
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    transition: 1s;
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: center;
    // z-index: -1000;
    &:hover {
      background: rgb(32, 39, 161);
      color: rgb(255, 255, 255);
    }

    .btn-shapka {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
